<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>CFBundleIconFile</key>
        <string>iconfile</string>
        <key>NSCameraUsageDescription</key>
        <string>Magic Mask uses your camera to warn you whenever you touch your eyes, nose, and mouth.</string>
        <key>NSHighResolutionCapable</key>
        <true/>
        <key>LSUIElement</key>
        <string>1</string>
        <key>CFBundleName</key>
        <string>Magic Mask</string>
        <key>CFBundleExecutable</key>
        <string>MacOS/mask.app</string>
        <key>CFBundleIdentifier</key>
        <string>edu.stanford.magicmask</string>
    </dict>
</plist>
